POSTGRES_DB=af_crm_db
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_password
DB_DOCKER_URL=jdbc:postgresql://db:5432/af_crm_db

# Security Settings
JWT_SECRET=execute_openssl_rand_hex_32_to_generate_this
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret